.container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  height: 500px;
  width: 700px;
  text-align: center;
}

h2 {
  font-size: 30px;
}

p {
  margin: 15px;
}

input[type="text"] {
  height: 45px;
  width: 250px;
  margin: 10px 0;
  border-radius: 5px;
  border-style: solid;
  border-color: transparent;
}

#input5 {
  width: 510px;
}

.main .btn {
  height: 50px;
  width: 518px;
  border-radius: 10px;
  margin: 10px 0;
  border-style: solid;
  border-color: transparent;
  color: white;
  background-color: lightskyblue;
}
