.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-color: transparent;
  border-color: white;
  padding: 0 20px;
  color: white;
  font-size: 2.7rem;
}

.navbar .btn {
  height: 40px;
  width: 90px;
  margin: 0 25px;
  border-radius: 7px;
  border-color: white;
  background-color: transparent;
  border-style: solid;
  color: white;
}
